/* NAVIGATION BAR */

body {
  margin: 0px; padding: 0px;
  font: 1em; 'Trebuchet MS', Helvetica, sans-serif;
  width: 100%; height: 100%;
}

h1 {
  margin: 0px;
  padding: 100px 0px;
  color: #FFF;
  font: bold 40px 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  letter-spacing: .25em;
  text-align: center;
}

p {
  margin: 0px;
  padding: 10px 20px;
  line-height: 1.5;
}

#header {
  margin: 0px; padding: 0px;
  position: relative;
  background: black;
  width: 100%; height: 250px;
}

#navbar {
  margin: 0px; padding: 0px;
  position: relative;
  background: #ccc;
  text-align: center;

  width: 100%; height: 50px;
}

#navbar.fixedattop {
  position: fixed; top: 0px;
}

#navbar a {
  display: inline-block;
  margin: 12px 15px; padding: 5px 0px;
  background: #999;
  background: linear-gradient(#000, #333);
  color: #FFF;
  font: 14px 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-decoration: none;
  border-radius: 3px;
  width: 100px;
}

#navbar a:hover {
  background: #333;
  background: linear-gradient(#222, #333);
}

/* CONTENT */

img {
  display: flex;
  margin: 10px;
  align-items: center;
  
}

/* Attribute Selection */
form {
  background: #fff;
  padding: 1em;
  width: 20%;
}

input {
  display: block;
}

input[type="text"] {
  background: #333;
  border: 0;
  border-radius: 10px;
  color: #000;
  margin: 1em 1em 1em 0;
  padding: .5em;
}

input[type="text"]:focus {
  /*  override  */
  outline: 0;
  background: black;
    color: white;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;


}

input[type="submit"] {
  background: #ccc;
  border: none;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  padding: 10x;
  position: absolute;
  
  
/*   position: absolute;
  left: 125px;
   */

  display: block;
  margin: 0 auto; 
  
/*  Figure Out
  align-self: center; */
}

input[type="submit"]:hover {
  background: #ccc;
}

input[type="submit"]:active {
  background: #ccc;
}


/* IMAGE */

img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* FOOTER */
.site-footer {
  color: white;
  background: #ccc;
}

.footer {
  display: block;
  text-align: center;
  margin: 10px;
}

/* DIAGNOSTIC STYLING */

	/* Mobile: 320px = 20em */
	@media screen and (min-width: 20em) { 
	  
	}


	/* Tablet:  768px = 160em */
	@media screen and (min-width: 48em)  {


	/* Desktop: 1280px = 80em */
	@media screen and (min-width: 80em) { 