/* CONTACT FORM */

/* https://fonts.google.com/specimen/Open+Sans*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Attribute Selection */
form {
  background: #fff;
  padding: 1em;
  width: 20%;
}

input {
  display: block;
}

input[type="text"] {
  background: #333;
  border: 0;
  border-radius: 10px;
  color: #000;
  margin: 1em 1em 1em 0;
  padding: .5em;
}

input[type="text"]:focus {
  /*  override  */
  outline: 0;
  background: black;
    color: white;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

form {
/*   display: flex;
  flex-wrap: wrap; */

}

input[type="submit"] {
  background: #ccc;
  border: none;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  padding: 5x;
  position: absolute;
  
  
/*   position: absolute;
  left: 125px;
   */

  display: block;
  margin: 0 auto; 
  
/*  Figure Out
  align-self: center; */
}

input[type="submit"]:hover {
  background: #ccc;
}

input[type="submit"]:active {
  background: #ccc;
}

/* GENERAL */

h1 {
    font-family: 'Abril Fatface', cursive;
    width: auto;
    height: auto;
    align-items: flex-start;
}

li {
    list-style: none;
    display: inline-block;
}

/* DIAGNOSTIC STYLING */

	/* Mobile: 320px = 20em */
	@media screen and (min-width: 20em) { 
	  
	}


	/* Tablet:  768px = 160em */
	@media screen and (min-width: 48em)  {


	/* Desktop: 1280px = 80em */
	@media screen and (min-width: 80em) { 