/* CONTENT */

img {
  display: flex;
  margin: 10px;
  align-items: center;
  
}

/* Attribute Selection */
form {
  background: #fff;
  padding: 1em;
  width: 20%;
}

input {
  display: block;
}

input[type="text"] {
  background: #333;
  border: 0;
  border-radius: 10px;
  color: #000;
  margin: 1em 1em 1em 0;
  padding: .5em;
}

input[type="text"]:focus {
  /*  override  */
  outline: 0;
  background: black;
    color: white;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;


}

input[type="submit"] {
  background: #ccc;
  border: none;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  padding: 10x;
  position: absolute;
  
  
/*   position: absolute;
  left: 125px;
   */

  display: block;
  margin: 0 auto; 
  
/*  Figure Out
  align-self: center; */
}

input[type="submit"]:hover {
  background: #ccc;
}

input[type="submit"]:active {
  background: #ccc;
}


/* IMAGE */

img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}