body {
    background: #EF798A;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #4A4860;
    z-index: 10000;
    border-bottom: 4px solid #323042;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    @media all and (min-width: 545px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    li {
        display: none;
        @media all and (min-width: 545px) {
            display: block;
        }
    }
    a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: Futura, Trebuchet MS, Arial, sans-serif;
        font-size: 0.7em;
        color: #FFE4FA;
        text-align: center;
        padding: 14px 30px;
        transition: background .25s, box-shadow .15s;
        &:hover {
            color: #4A4860;
            background: #FFC4EB;
            box-shadow: 0px 4px 0px 0px #BB8EAC;
        }
        @media all and (min-width: 545px) {
            padding: 20px;
        }
    }
}

