body {
    background: #EF798A;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #4A4860;
    z-index: 10000;
    border-bottom: 4px solid #323042;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    @media all and (min-width: 545px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
   
}