/* GENERAL */

h1 {
    font-family: 'Abril Fatface', cursive;
    width: auto;
    height: auto;
    align-items: flex-start;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    align-items: flex-start
   
}

ul, li {
  list-style: none;
  display: inline-block;
}

img {
    width: 100%;
    height: auto;
}
    

/* DIAGNOSTIC STYLING */

	/* Mobile: 320px = 20em */
	@media screen and (min-width: 20em) { 
	  
	}


	/* Tablet:  768px = 160em */
	@media screen and (min-width: 48em)  {


	/* Desktop: 1280px = 80em */
	@media screen and (min-width: 80em) { 