/* NAVIGATION BAR */

body {
  margin: 0px; padding: 0px;
  font: 1em; 'Trebuchet MS', Helvetica, sans-serif;
  width: 100%; height: 100%;
}

h1 {
  margin: 0px;
  padding: 100px 0px;
  color: #FFF;
  font: bold 40px 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  letter-spacing: .25em;
  text-align: center;
}

p {
  margin: 2px;
  line-height: 1.5;
  text-align: left;
  font: 1em 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#header {
  margin: 0px; padding: 0px;
  position: relative;
  background: black;
  width: 100%; height: 250px;
}

#navbar {
  margin: 0px; padding: 0px;
  position: relative;
  background: #ccc;
  text-align: center;

  width: 100%; height: 50px;
}

#navbar.fixedattop {
  position: fixed; top: 0px;
}

#navbar a {
  display: inline-block;
  margin: 12px 15px; padding: 5px 0px;
  background: #999;
  background: linear-gradient(#000, #333);
  color: #FFF;
  font: 14px 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-decoration: none;
  border-radius: 3px;
  width: 100px;
}

#navbar a:hover {
  background: #333;
  background: linear-gradient(#222, #333);
}


/* CONTENT */

/* Index Page */

.welcome {
    text-align: center;
}

.look-around {
    text-align: center;
}

.van {
    margin-top: 1em;
    width: 100%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}


/* Biography and Resume */

article {
  display: block;
}

article section {
  background: white;
  padding: 1em;
  margin-right: 10px;
  justify-content: space-between; 
}

aside {
  display: flex;
}

aside section {
 display: block;
  background: black;
  color: white;
  padding: 1em;
  margin: 10px;
  width: 33%;
  
  justify-content: space-between;
}

.portrait {
 display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

h2 {
  font-size: 1.5em;
}

section {
  list-style: none;
}

/* Portfolio */

figure {
 display: inline-block;
  background-color: #000;
  border-radius: 5px;
  padding: 1em;
  width: 350px;
  height: 300px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  
}


main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
}

figcaption {
    text-align: center;
    margin: 1.2em;
}

/* Contact */

/* CONTENT */

.portraitv2 {
  display: flex;
  margin: 10px;
  align-items: center;
  
}

/* Attribute Selection */
.formv1 {
  background: #fff;
  padding: 1em;
  width: 20%;
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
    
}

input {
  display: block;
  background: #000;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  color: white;
}

input[type="text"] {
  background: #000;
  border: 0;
  border-radius: 10px;
  color: #000;
  margin: 1em 1em 1em 0;
  padding: .5em;
  color: white;
}

input[type="text"]:focus {
  /*  override  */
  outline: 0;
  background: black;
  color: white;
    }

label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;

}

input[type="submit"] {
  background: #000;
  border: none;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: .5em;
}


.portraitv3  {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

/* FOOTER */

.site-footer {
  color: white;
  background: #ccc;
  bottom: 0;
  width: 100%;
  margin: 0;
    
  
}

.footer {
  display: block;
  text-align: center;
  margin: 0;
}

