/* GENERAL */

h1 {
    font-family: 'Abril Fatface', cursive;
    width: auto;
    height: auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

ul, li {
  margin: 10px;
  padding: 0;
  list-style: none;
  align-items: flex-start;
}

header {
    list-style: none;
    height: 50px;
    width: 50px;
    
    display: inline-block;    
}

header a:link,
header a:visited {
  background: #000;
  color: white;
  text-decoration: none;
  line-height: 50px;
  
  display: inline-block;
  width: 50px;
  height: 50px;
}

img {
    width: 100%;
    height: auto;
}
    
/* MOBILE/TABLET/DESKTOP DESIGN */

/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) 

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em) 

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em)