/* IMPORT */

@import "normalize";
@import "lightgallery";
@import "lg-transitions";


/* TYPEFACES */

@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* BORDER BOX */

* {
  box-sizing: border-box;
}

body, html {
  height: 100%
}

body {
  font: 100% 'Oswald', sans-serif;
}
  .wrapper {
    height: 100%;
  }
  main {
    min-height: 200px
  }
}

/* WRAPPER */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* HEADER */

header {
  text-align: center;
  background: rgb(55,55,55);
  display: flex;
  flex-flow: row wrap;
}

/* STYLING */
h1 { 
  padding: 20px;
  font-size: 2em;
font-family: 'Cardo', serif;
  color: rgb(245,235,245);
}


.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  list-style: none;
  padding-right: 10px;
  margin-left: auto
}
.nav > li {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff
}
.nav > li:first-child {
  border-left: 1px solid #fff
}
a {
  text-decoration: none;
      font-family: 'Montserrat', sans-serif;
  display: block;
  color: #fff;
  font-size: 1em;
  transition: all 0.5s ease-in-out;
  padding: 8px
}

a:hover {
  background: #ccc;
  color: #000;
}

main {
  display: flex;
  flex-flow: row wrap;
  /*this will fill up the remaining space for our content*/
  flex: 1 1 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
h2 {
  width: 100%;
  background: rgb(75,75,75);
  color: rgb(205,205,205);
  font-weight: 100;
  padding: 10px;
  text-align: center;
}
main > section {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
main > section > p {
  padding-bottom: 20px
}
footer {
  font-size: 1em;
      font-family: 'Montserrat', sans-serif;
  background: lightblue;
  text-align: center;
  padding: 10px;

}


/* GALLERY */


#gallery {
    display: flex;
    align-items: center;
}


article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article figure {
    background: #ccc;
    padding: 2em;
    width: 20em;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure img {
    box-shadow: 2px 2px 2px gray;
}

article figcaption {
    color: #000;
    text-align: center;
    font-family: 'Raleway';
}


// CAPTIONS
.caption {
    display: none;
}

@media screen and (max-width: 568px) {
  
  h1 {
    width: 100%;
    font-size: 1em;
  }
  
  .nav {
    min-width: 100%;
    margin: auto;
    padding: 0;
  }
  
  .nav > li {
    flex: 1;
  }
  
  .nav > li > a {
    font-size: 1.0em;
  }
  
  h2 {
    font-size: 1.2em
  }
  
  main {
    /*go to a more vertical layout*/
    flex-flow: column nowrap;
  }
  main > section {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  main > section > p {
    width: 100%
  }
}

#overlay {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

/* PORTFOLIO PAGE */

#overlay img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

#photos {
  width: 100%;
}

#photo-gallery {
  width: 100%;
}

/* MEDIA QUERIES */

/* 
  Mobile: 
  * 320px = 20em
  * 767px = 47.9375em
*/
@media only screen 
  and (min-width: 20em) 
  and (max-width: 47.9375em)  { 
    
    h1 {
      color: #ccc;
    }
      
    #navbar {
        height: 100px;
    }
      
      .portrait {
          height: 95%;
          width: 95%;
      }

}


/* CONTACT PAGE */

/* Attribute Selection */
form {
  background: #fff;
  padding: 1em;
  width: 50%;
}

input {
  display: block;
}

input[type="text"] {
  background: #ccc;
  border: 0;
  border-radius: 10px;
  color: #fff;
  margin: 1em 1em 1em 0;
  padding: .5em;
}

input[type="text"]:focus {
  /*  override  */
  outline: 0;
  background: orange;
}

label {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 2em;
}

form {
display: flex;
  align-items: center;
  margin: 0 auto;
  
  

}

input[type="submit"] {
  background: fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  
/*   position: absolute;
  left: 125px;
   */

  display: block;
  margin: 0 auto; 
  
/*  Figure Out
  align-self: center; */
}

input[type="submit"]:hover {
  background: white;
}

input[type="submit"]:active {
  background: rgb(245,235,245);
}

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 63.9375em)  {
      
      #navbar {
        height: 50px;
    }

}

/* Desktop: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen and (min-width: 64em) { 
    
       #navbar {
        height: 50px;
    }
}